.container{
    background: violet;
    text-align: center;
    margin: 250px;
    max-width: 1400px;
    color: black;
    margin-bottom: 20px;
        border-radius: 55px;
        flex-shrink: 1;

}
body{
    background: purple;
    
}


.top{

    background: violet;
}
h1{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:17px;
}


.box1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px;
    padding: 30px;
    border: 5px;
    border-color: violet;
    border-radius: 100px;  
flex-shrink: 1;
}

.box2{
    background-color: rgb(233, 205, 233);
    display: flex;
    flex-grow: 1;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 50px;
    border: 5px solid;
    border-color: white;
    flex-shrink: 1;
}

.top3 {

display: inline;
display: flex;
background: violet;
}



.name{

    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    color: violet;
    background: black;
    border: 15px;
    border-color: violet;
    border-radius: 30px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container2 .rank{

    background: rgb(233, 205, 233);
    display: block;
    border-radius: 100px;
    font-size: 25px;
    position: relative;
    top:10px;
    display: flex;
    flex-shrink: 2;

    
    
}
.rank3{
    position: relative;
    left: 5%;
    top:50px;
    flex-wrap: wrap;
    flex-shrink: 2;
}

.rank1{

    position: relative;
    left: 10%;
    flex-wrap: wrap;
    flex-shrink: 1;
}
.rank2{

    position: relative;
    left: 15%;
    top:50px;
    flex-wrap: wrap;
    flex-shrink: 25;
}



.image1{
border: solid 6px;
border-radius: 100px;
border-color: rgb(235, 197, 5);
width: 150px;
position: relative;
right: 10px;
height: 150px;
}

.image2{
    border: solid 6px;
    border-color: silver;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    max-width: 100%;
    
}

    
.image3{
     border: solid 6px;
     border-radius: 50px;
     border-color:  rgb(203, 117, 5);
     width: 100px;
     height: 100px;
     max-width: 100%;
}

.image{
  border: solid 3px;
  border-radius: 50px;
  border-color: purple;
  width:70px;
  height: 70px;
  position: relative;
  left:80px;


}
        
.rank1 .rank{

    position:relative;
    background:rgb(235, 197, 5);
    border-radius: 100px;
    border: solid 3px rgb(235, 197, 5);
    left: 80px;
    bottom: 30px;
    font-size: 30px;
    height: 30px;
    width: 30px;
}

.rank2 .rank{

    position:relative;
    background: silver;
    border-radius: 100px;
    border: solid 3px silver;
    left: 65px;
    bottom: 20px;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.rank3 .rank{

    position:relative;
    background: rgb(203, 117, 5);
    border-radius: 100px;
    left: 65px;
    bottom: 20px;
    font-size: 20px;
    height: 23px;
    width: 23px;
}

.rank1 .name{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 15px; 
    left:5px;
    font-size: 20px;
}



.rank1 .points{
    position: relative;
    left: 72px;
    font-size: 30px;
}

.rank2 .points{
    position: relative;
    left: 57px;
    font-size: 25px;
    top:20px;
}

.rank3 .points{
    position: relative;
    left: 57px;
    font-size: 25px;
    top:15px;
}

.container2 .name{

position: relative;
left:50px;
max-width: 60px;
padding-left: 50px;
padding-right: 50px;
font-size: 20px;
}

.container2 .points{
    font-size: 25px;
    position: relative;
    left: 200px;
    text-align: right;
}

.image1:hover{
  position: relative;
  bottom: 10px;
  
}


.image2:hover{
  position: relative;
  bottom: 10px;
  
}

.image3:hover{
  position: relative;
  bottom: 10px;
}
.name:hover{

    position: relative;
    bottom: 10px;
    text-decoration: underline;
}

.rank:hover{

    text-decoration: underline;
}
.box2:hover{
    position: relative;
    left:10px;
}

.points:hover{
   font-size: 35px;
}

h1:hover{
    text-decoration: underline;
}

@media screen and  (max-width:1350px){


    .container2 .points{
    
        position: absolute;
        right:300px;

    }
    
}

@media screen and (max-width:1190px) {

    .image1{
        position: relative;
        right:60px;
    }

    .image2{
        position: relative;
        right:60px;
    }

    .image3{
        position: relative;
        right:60px;

    }

   .name{

    position: relative;
    right:60px;
   }

   .rank1 .name{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    bottom: 15px; 
    right:100px;
    font-size: 20px;
}

    
@media screen and (max-width:500px) {
    .container2 .points{
    
        position: absolute;
        right:300px;

    }


    
}
    
}
